## Introduzindo Operações Básicas com Tipos Numéricos e Booleanos

1 - Compute a saída da seguinte expressão matemática sem realizar nenhuma simplificação:
$ a^{2} + \frac{3}{4} \times b \times 987(c - \frac{10^{-9}}{\sqrt{0.5^{3}}}) $. Assuma que os valores das variáveis a, b e c correpondam a 2, 4 e 8, respectivamente. Armazene o resultado em uma variável.

Dica: consulte os operadores aritméticos disponíveis no Python. Utilize a biblioteca math para operação de raiz.

In [10]:
import math

a = 2
b = 4
c = 8

resultado = int(a * 2 + (3 / 4) * b * 987 * (c - (10 * -9) / math.sqrt(0.5 ** 3)))
print(resultado)

777439

2 - Armazene em uma variável o resto da divisão da expressão anterior por 23691.

In [12]:
import math

a = 2
b = 4
c = 8

resultado = int(a * 2 + (3 / 4) * b * 987 * (c - (10 * -9) / math.sqrt(0.5 ** 3)))
divisão = resultado % 23691

print(divisão)

19327

3 - Cheque se a saída do resto da divisão é

***i) igual a 1***

***ii) maior que 1***

***iii) menor ou igual que 1***

***iv) diferente de 1***

Utilize a função *print* para exibir a saída de cada checagem.
Consulte os operadores relacionais disponívels no Python.

In [16]:
import math

a = 2
b = 4
c = 8

resultado = int(a * 2 + (3 / 4) * b * 987 * (c - (10 * -9) / math.sqrt(0.5 ** 3)))
divisão = resultado % 23691

print("um : igual a 1: ", divisão == 1)
print("dois : maior que 1: ", divisão > 1)
print("três : menor ou igual a 1: ", divisão <= 1)
print("quatro : diferente de 1: ", divisão != 1)

um : igual a 1:  False
dois : maior que 1:  True
três : menor ou igual a 1:  False
quatro : diferente de 1:  True

4 - Exiba a saída de operações booleanas do tipo **AND** e do tipo **OR** entre dois termos que apresentem valores:
1. **verdadeiros**;
2. **verdadeiro e falso**;
3. **falsos**.

Ao todo devem ser apresentadas seis operações.

In [35]:
# * AND

# * LETRA A

a = True
b = True

def operaçãoand (a, b):  # * usei def pra definir a função AND e retornei as duas premissas
    return a and b

saída_and = operaçãoand(a, b)
print("a saída AND entre dois termos de valores verdadeiros é:",saída_and)

# * LETRA B

d = True
c = False

def operaçãoand (d, c):
    return d and c

saída_and = operaçãoand(d, c)
print("a saída AND entre dois termos de valor verdadeiro e falso é:",saída_and)

# * LETRA C

f = False
g = False

def operaçãoand (f, G):
    return f and G

saída_and = operaçãoand(f, g)
print("a saída AND entre dois termos de valores falsos é:",saída_and)

# OR

# * LETRA A
h = True
i = True

def operação_or (h, i):
    return h or i

saída_or = operação_or(h, i)
print("a saída AND entre dois termos de valores verdadeiros é:",saída_or)

# * LETRA B

j = True
k = False

def operação_or (j, k):
    return j or k

saída_or = operação_or(j, k)
print("a saída AND entre dois termos de valor verdadeiro e falso é:",saída_or)

# * LETRA C
l = False
m= False

def operação_or (l, m):
    return l or m

saída_or = operação_or(l, m)
print("a saída AND entre dois termos de valores falsos é:",saída_or)

a saída AND entre dois termos de valores verdadeiros é: True
a saída AND entre dois termos de valor verdadeiro e falso é: False
a saída AND entre dois termos de valores falsos é: False
a saída AND entre dois termos de valores verdadeiros é: True
a saída AND entre dois termos de valor verdadeiro e falso é: False
a saída AND entre dois termos de valores falsos é: False

5 - Escreva a seguinte expressão booleana **(A + B) . (¬B . A)**. Considere que "+" indica uma operação  OR; "." indica uma operação AND e ''¬'' indica uma operação de negação (NOT). Defina previamente a variávei *A* com valor verdadeiro e a variávei *B* com valor falso.

In [1]:
# * AND

print("OPERAÇÕES AND:   ")

# * LETRA A
a = True
b = True

operação_and = (a and b)

print("a saída entre dois termos de valores verdadeiros é: ", operação_and)

print(". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .")

# * LETRA B
c = True
d = False

operação_and = (c and d)

print("a saída entre dois termos de valor falso e verdadeiro é: ", operação_and )

print(". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .")

# * LETRA C
e = False
f = False

operação_and = (e and f)

print("a saída entre dois termos de valores falsos é: ", operação_and )

print(". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .")

# OR 

print("OPERAÇÕES OR:  ")

# * LETRA A 


g = True 
h = True

operação_or = (g or h)

print("a saída entre dois termos de valores verdadeiros é: ", operação_or)

print(". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .")

# *LETRA B

i = True 
j = False

operação_or = (i or j)

print("a saída entre dois termos de valor verdadeiro e falso é: ", operação_or)

print(". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .")

# *LETRA C

k = False
l = False

operação_or = (k or l)

print("a saída entre dois termos de valores falsos é: ", operação_or)

print(". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .")

OPERAÇÕES AND:
a saída entre dois termos de valores verdadeiros é:  True
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
a saída entre dois termos de valor falso e verdadeiro é:  False
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
a saída entre dois termos de valores falsos é:  False
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
OPERAÇÕES OR:
a saída entre dois termos de valores verdadeiros é:  True
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
a saída entre dois termos de valor verdadeiro e falso é:  True
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
a saída entre dois termos de valores falsos é:  False
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

6 - Cheque se a saída da expressão booleana da questão imediatamente anterior é falsa.

In [51]:
A = True
B = False

operação_booleana = (A or B) and (not B and A)

if operação_booleana== False:
    print("a operação booleana é falsa")
else:
    print("a operação não é falsa, é verdadeira")

TypeError: 'str' object is not callable

## Introduzindo Operações com Strings

Dica: você pode utilizar a função *help(arg)* para visualizar os métodos que podem ser acessados a partir de uma variável de um tipo qualquer.

Segue abaixo alguns exemplos:

```
# Exemplo usando como argumento a função que representa o tipo de dado
help(str)

# Exemplo usando uma variavel qualquer
a = "teste"
help(a)

# Exemplo utilizando uma variavel do tipo dicionário
dicionario = {"chave":"valor"}
help(dicionario)

```

7 - Defina uma variável com o valor "hello wORld". Utilize as funções de string do Python para reproduzir as seguintes saídas: "Hello World", "hello world", "HELLO WORLD".  Dica: para visualizar as funções disponíveis digite em uma célula de código `'str' ` e em seguida tecle tab.

In [ ]:
a = "hello wORld"

saída1 = a.capitalize( ) # * CAPITALIZE: transforma a primeira letra em maisucula e o resto minuscula 
saída2 = a.lower() # * LOWER: transforma todas em minuscula
saída3 = a.upper() # * UPPER: da capslock

print("saída um: ", saída1)
print("saída dois:", saída2)
print("saída três: ", saída3)

8 - Dada a seguinte frase " *Esse é o seu primeiro tweet.* ", remova os espaços em branco das extremidades. Em seguida, substitua a palavra *'primeiro'* por *'segundo'*.



**Observação:** a operação para remoção de espaços não atua em um modo '*in-place*', isto é, não altera diretamente o objeto, apenas retorna uma cópia modificada que pode ser armazenada em uma variável. A seguir, pode-se conferir um exemplo de uma operação que não é in-place e requer que assinalemos uma variável para receber a modificação.

In [ ]:

a = 'teste'

# primeiro caso
a.replace('ste', 'sta')
print(a)

# segundo caso
a = a.replace('ste', 'sta')
print(a)

In [2]:
a = 'esse é o seu primeiro tweet'

a.replace('primeiro', 'segundo')
print(a)

a = a.replace('primeiro', 'segundo')
print(a)

esse é o seu primeiro tweet
esse é o seu segundo tweet

9 - Fazendo uso do resultado da questão anterior, exiba a quantidade de ocorrências da palavra *'segundo'* e em seguida a quantidade de caracteres *'s'*.

In [3]:
frase2 = 'esse é o seu segundo tweet'

quantidade = frase2.count('segundo')

print("quantidade de palavras (segundo): ", quantidade)

quantidade_de_s = frase2.count('s')

print("quantidade de (s) na frase:", quantidade_de_s)

quantidade de palavras (segundo):  1
quantidade de (s) na frase: 4

10 - Concatene duas variáveis do tipo strings com valores arbitrários e exiba o resultado.

**Observação:** A string resultante deve possuir no mínimo quatro caracteres.

In [5]:
a = "pera, uva, maça"
b = " e salada mista"

r = a + b 
print(r)

pera, uva, maça e salada mista

11 - Utilize a indexação e exiba apenas do segundo ao quarto caractere da variável do tipo string resultante questão imediatamente anterior.

In [7]:
a = "jubileu"

resultado = a[1:4]
print(resultado)

ubi

12 - Exiba a string "Mensagem: " seguida pela string armazenada na variável *msg* definida abaixo. Dica: utilize a função format().

In [43]:

msg = "This is your first tweet."
print("mensagem: {}".format(msg))

TypeError: 'str' object is not callable

13  - Reproduza as próximas três mensagens a partir das variáveis definidas na célula de código.

**Mensagem**: Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

In [16]:
tipo_var = "string"
qtd = "três"

prin(f'''Definir uma {tipo_var} com {qtd} aspas 
simples permite construir textos com 
quebra de linha automática.''')

NameError: name 'srt' is not defined

**Mensagem**:  O número pi é aproximadamente 3.14

In [ ]:
pi = 3.14159

resultado = pi[0:4]
print(resultado)

**Mensagem**: O meu nome é [*receber string via input*] e eu tenho [*receber inteiro via input*] anos.

In [ ]:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))

print(f"Seu nome é {nome} e você tem {idade} anos.")

## Introduzindo Estruturas de Dados

Nessa sessão serão exploradas as estruturas de dados do tipo lista, tupla e dicionário. Para realizar os exercícios abaixos baseados em listas podem ser utilizados métodos como *sum(arg), extend(), reverse(), append(), insert(index, element), sort()*.

### Listas

14 - Realize as seguintes operações:


1. Crie uma lista vazia.
2. Adicione três elementos do tipo inteiro ao final da lista (*o método para adição de novos elementos em uma lista atua de forma in-place, portanto, basta invocá-lo.*).
3. Adicione um novo elemento na segunda posição da lista (*método in-place).
4. Exiba a soma dos quatro elementos (*python já possui uma função built-in para esssa operação*.)
5. Re-assinale o elemento da terceiro posição com um valor do tipo float.
6. Repita o passo 4.
7. Inverta os elementos da lista atual. (*função para inversão é in-place*)
8. Re-ordene os elementos da lista.
9. Armazene uma nova lista em uma variável qualquer com 2 números inteiros.
10. Concatena a nova lista criada com a lista resultante do passo 7.
11. Exiba o valor máximo e mínimo da resultante do passo anterior.

In [ ]:
minha_lista = []

minha_lista.extend([1, 2, 3])

minha_lista.insert(1, 4)

soma_elementos = sum(minha_lista)
print("Soma dos elementos:", soma_elementos)

minha_lista[2] = 2.5

soma_elementos = sum(minha_lista)
print("Soma dos elementos após alteração:", soma_elementos)

minha_lista.reverse()

minha_lista.sort()

nova_lista = [7, 8]

minha_lista.extend(nova_lista)

maximo = max(minha_lista)
minimo = min(minha_lista)
print("Valor máximo:", maximo)
print("Valor mínimo:", minimo)

15 - Converta a string definida abaixo em uma lista de palavras, armazene a lista em uma variável. Dica: cheque as operações disponíveis para strings.

In [50]:
frase = "Formação de Recursos Humanos Qualificados em Inteligência Artificial"

frase = "Formação de Recursos Humanos Qualificados em Inteligência Artificial"
lista_de_palavras = frase.split()
print(lista_de_palavras)

TypeError: 'str' object is not callable

16 - Verifique se a palavra "Humanos" está contida na lista de palavras criada anteriormente. Exiba True ou False para indicar a resposta.

In [47]:
if "Humanos" in b:
    print("True")
else:
    print("False")

TypeError: 'str' object is not callable

17 - Crie automaticamente uma lista contendo 50 elementos de valor 3 e armazene-a em uma variável. Dica: utilize o operador de multiplicação.

In [46]:
import math

lista = [3] * 50
print(lista)

TypeError: 'str' object is not callable

### Tuplas

18 - Converta a lista resultante da primeira questão sobre Listas para uma tupla e exiba o tipo de dados do objeto criado. Após realizar o casting, utilize a indexação para exibir todos os elementos com exceção do primeiro e último.

In [ ]:
# Insira a resposta abaixo.

19 - Exiba os atributos/métodos disponíveis a partir objetos do tipo lista e tuple utilizados na questão anterior. Dica: utilize o método dir.

In [ ]:
# Insira a resposta abaixo.

In [ ]:
# Insira a resposta abaixo.

20 - Crie uma tupla contendo 5 números inteiros quaisquer. Em seguida, exiba o valor máximo e o valor mínimo da tupla criada.

In [ ]:
# Insira a resposta abaixo.

### Dicionários

21 - A partir do dicionário inicializado abaixo com quatro items, adicione três novos items com chaves "three", "four" e "five" e valores "três", "quatro" e "cinco".

In [ ]:
my_dict = {}
my_dict["one"] = "um"
my_dict["two"] = "dois"
my_dict[(1,2)] = ["um","dois"]
my_dict[1.3] = "um ponto três"

22 - A partir do dicionário definido anteriormente, remova o item ("one", "um") do dicionário.

In [ ]:
# Insira a resposta abaixo

23 - A partir do dicionário definido anteriormente, realize as seguintes operações ordenadamente.

1.   Exiba a quantidade de items do dicionário.
2.   Gere automaticamente uma lista contendo as  chaves do dicionário.
3.   Gere automaticamente uma lista contendo os valores do dicionário.
4.   Gere automaticamente uma lista composta por tuplas do tipo (chave, valor).
5.   Remova os items cuja chaves são (1,2) e 1.3.
6.   Exiba o dicionário final

In [ ]:
# Insira a resposta abaixo

# Passo 1


# Passo 2


# Passo 3


# Passo 4


# Passo 5


# Passo 6

24 - A partir dos dicionários '*en*' e '*pt_br*' definidos abaixo, crie um terceiro dicionário denominado '*translator*' cujas chaves são, respectivamente, 'en' e 'pt_br' e os valores sejam os dicionários correspondentes. Exiba o dicionário criado.

In [ ]:
pt_br = {1:"um", 2:"dois", 3:"tres"}
en = {1:"one", 2:"two", 3:"three"}

# Insira a resposta abaixo

### Estruturas de Decisão

25 - Utilize estruturas de decisão se-senão para construir um script que simule a árvore de decisão disposta na figura abaixo. Para cada nó da árvore, o usuário deve fornecer um valor a ser armazenado em uma variável e utilizado para verificar o fluxo que deve ser seguido até atingir uma das folha, exibindo algum dos valores "Opção 1", "Opção 2" ou "Opção 3".


![alt text](https://docs.google.com/uc?export=download&id=1i5518GVTI9vh3proj3C1dblBXOJtHAvP)

### Estruturas de Repetição

for (with range), while, list comprehension

26 - Crie um programa que receba do usuário uma entrada referente a string "Please, type 'q' to quit". Enquanto o usuário não digitar o caractere 'q', o programa deve exibir "Sorry, try again." e continuar solicitando a informação. Dica: utilize o comando break para interrupção.

In [ ]:
# Insira a resposta abaixo.

27 - Crie um programa que imprima apenas os números ímpares entre 1 e 100.

In [ ]:
# Insira a resposta abaixo.

28 - A partir da lista definida abaixo, crie uma nova lista contendo apenas os números negativos. Dica: considere utilizar o modo list comprehension.

In [ ]:
lista = [-6, 21, -22, 4, -17, -21, 22, -11, 3, 28]
# Insira a resposta abaixo.

29 - Converta a string definida abaixo em uma lista de palavras. Em seguida, crie um dicionário cujas chaves são as palavras contidas no texto e os valores representem a quantidade de ocorrências da palavra em questão.

In [ ]:
texto = '''
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus consequat libero sed eleifend. Mauris pulvinar quam pharetra
est efficitur maximus. Mauris tincidunt neque cursus ante vehicula viverra. Nullam neque neque, lobortis ut lacinia in, euismod non purus.
Quisque egestas pellentesque nulla eget egestas. In sem felis, pellentesque bibendum hendrerit varius, dapibus blandit libero. Nunc
fermentum id risus vel suscipit. Aenean laoreet posuere purus ac viverra. Sed vitae sem finibus, tempor magna a, iaculis ex. Pellentesque
sit amet scelerisque purus, quis volutpat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus est metus, vitae
molestie elit porta a. Praesent pharetra odio id purus auctor porttitor a ut risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
'''
# Insira a resposota abaixo.

30 - Imprima o dicionário gerado no passo anterior seguindo uma ordem alfabética.

Dicas:
1. Python já possui uma função built-in ordenação de listas
2. É possível utilizar uma estrutura de repetição para construir um novo dicionário.

In [ ]:
# Insira a resposta abaixo.

31 - Na lista 'colors' definida abaixo têm-se três tipos diferentes de cores. A partir dela, crie uma nova lista na qual cada string deve assumir uma lista com valores inteiros seguindo uma estratégia binária da seguinte forma:

```
red,	green,	blue
[1,		0,		0]
[0,		1,		0]
[0,		0,		1]

```

Dica: crie uma lista com os três possíveis valores e utilize a posição do elemento.

In [ ]:
colors = ['blue', 'blue', 'green', 'blue', 'red', 'red', 'green', 'blue', 'green', 'red']

# Insira a resposta abaixo

32 - A partir da lista resultante da questão imediatamente anterior,  reverta o processo e retorne uma lista contendo as strings 'blue', 'green' e 'red'.

In [ ]:
# Insira a resposta abaixo